.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    position: absolute;
}


.body img{
    width: 512px;
}

.body h1{
    margin-top: -50px;
    font-size: 32px;
    color: white;
    font-family: 'League Spartan', sans-serif;
}


.base-btns{
    margin-top: 20px;
    margin-left: 40px;
}
.base-btns img{
    width: 40px;
}

.menu-btn img{
    margin-left: 25px;
    width: 12px;
}

.social-btns img{
    margin-top: 20px;
    width: 55px;
}

